/BuiltLibs/x86/GazeApiLib.lib
/BuiltLibs/x86/GazeApiLib.pdb
/BuiltLibs/x86/GazeApiLibD.lib
/EyeTribeComm/*.suo
/EyeTribeComm/*.sdf
/EyeTribeComm/EyeTribeCommDLL/*.user
/EyeTribeComm/EyeTribeCommExample/*.user
