/BuiltLibs/x64/GazeApiLib*
/BuiltLibs/x86/GazeApiLib*
/BuiltLibs/OutputCopy
/EyeTribeComm/Intermediate
/EyeTribeComm/Output
/EyeTribeComm/ipch
/EyeTribeComm/.vs
/EyeTribeComm/*.suo
/EyeTribeComm/*.sdf
/EyeTribeComm/EyeTribeCommDLL/*.user
/EyeTribeComm/EyeTribeCommExample/*.user
/EyeTribeComm/*.opendb
